@import "./dummy.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-size: cover;
  background-attachment: fixed;
}

.bg-1 {
  background: url("/sleep.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.bed {
  background: url("/insomnia.png") no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.how {
  background: url("/how.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.withus {
  background: url("/withus.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
